img{
    width: 100%;
}
ul{
    display: flex;
    flex-direction: column;

    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        z-index: -5;
        border-bottom: lightgrey 1px solid;
        //border-bottom-width: 5rem;
        .text-box{
            display: flex;
            align-items:center;
            justify-content: flex-start;
            width: 100%;
            h3{
                margin-left: 1px;
                margin-bottom: 15px;
                color: black;
                background-color: white;
                border-radius: 5px;
                padding: 1px;
            }
        }
    }
}