@keyframes slideOut{
    0%{
        top: 90px;
       
        opacity: 0;
        transform:scaleY(0)
       
    }
    100%{
        top: 90px;
        transform:scaleY(100%)
        
    }
}

/* @keyframes slideIn{
    0%{
        top: 90px;
       
        opacity: 1;
        transform:scaleY(100%)
       
    }
    100%{
        top: 90px;
        opacity:0;
        transform:scaleY(0)
        
    }
}


@keyframes slideOutSide{
    0%{
        top: 120px;
       
        opacity: 0;
        transform:scaleX(0)
       
    }
    100%{
        top: 120px;
        opacity: 1;
        transform:scaleX(100%)
        
    }
} */