@import "/src/app/scss/import";
.container {
  height: 50px;
  width: 100%;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  @include tablets-up {
    height: 80px;
  }
  .cat-list {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .cat-item {
      h2 {
        @include tablets-up {
          font-size: 1.9rem;
        }
      }
    }
  }
}

.active {
  text-decoration: underline;
  text-decoration-color: rgb(53, 137, 247);
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 2px;
}
