*{
    display: flex;
    margin-left: 5%;
}

.active{
    text-decoration: underline;
    text-decoration-color: rgb(53, 137, 247);
    text-decoration-thickness: .2rem;
    text-underline-offset: 2px;
}
div{
    background-color: #262626;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
   
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        li{
            

            h2{
                font-size: 1.4rem;
                white-space: nowrap;
                
            }
        }
       
    }
   
}